.hover {
  position: fixed;
  left: 0;
  top: 0;
  border: 1px solid transparent;

  .label {
    display: none;
    position: absolute;
    left: -1px;
    top: -26px;
    padding: 0 6px;
    height: 26px;
    color: white;
    font-size: 14px;
    line-height: 26px;
    background: #208dfc;
    align-items: center;

    .icon {
      margin-left: 5px;
    }
  }

  &:hover {
    background: RGBA(40, 134, 244, 0.3);

    .label {
      display: flex;
    }
  }

  &.selected {
    border: 1px solid #208dfc;

    .label {
      display: flex;
    }
  }

  &.dragEnter {
    &:hover {
      background: #c2d08f;
    }
  }
}
