// https://cssgrid-generator.netlify.com/

.parent {
  position: relative;
  width: 100%;
  height: 100px;

  & > div {
    width: 60px;
  }
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.top {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}
.right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}
.bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}
.left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}
